<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:dubbp="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-nacos-provider"/>

    <dubbo:annotation package="com.yh.test"/>

    <dubbo:registry address="nacos://121.199.72.238:8848/" client="curator" timeout="30000" version="1.0"
    server="test-hahah"
    />

    <dubbo:protocol name="dubbo" port="7791" serialization="kryo"/>


</beans>